@import url("home.css");


.box_div{
    display: flex;
    align-content: baseline;
}

.section_container{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}