<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='character_sheet.css') }}">
</head>
<body>
<div class="box_div">
    <nav>
        <ul>
            <li>
                <div class="section_container">
                    <section>
                        <label for="character_name">nome personaggio</label><input type="text" id="character_name" name="character_name">
                    </section>
                </div>
            </li>
            <li>
                <div class="section_container">
                    <section>
                        <label for="character_name">nome personaggio</label><input type="text" id="character_name2" name="character_name">
                    </section>
                </div>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>