<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li class="ul_right"><a href="/sign_up">REGISTRATI</a></li>
    </ul>
</nav>
<div class="form_container">
    <div class="insertion_container">
        <div class="logo">
            D & D 5e
        </div>
        <div class="box_message">
            ACCEDI
        </div>
        <form  action="#" th:action="@{/signInConfirm}" th:method="post">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Inserisci l'username">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Inserisci la password">
            </div>
            <div class="form-group">
                <button type="submit">Accedi</button>
            </div>
        </form>
        <div class="form-group">
            <a href="/sign_up">Non hai un account registrati</a>
        </div>
    </div>
</div>

</body>
</html>
